<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <!-- BOOTSTRAP LINKS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script src="script.js" defer></script>
  </head>
  <body onload="myFunction()">
    <div id="loader"></div>

    <div style="display: none" id="myDiv" class="animate-bottom">
      <section class="header p-3 mb-4 flex flex-column flex-wrap m-0">
        <div class="container px-0">
          <ul class="d-flex text-center p-0 align-content-center">
            <li class="list-unstyled">
              <a href="#projects" class="nav-links text-decoration-none p-2"
                >Projects</a
              >
            </li>
            <li class="list-unstyled">
              <img
                src="img/flower-with-rounded-petals.png"
                alt=""
                class="flower-icon"
              />
            </li>
            <li class="list-unstyled">
              <a
                href="about_and_contact.html"
                class="nav-links text-decoration-none p-2"
                >About Me + Contact</a
              >
            </li>
          </ul>
        </div>
        <div class="main-header-name">
          <a href="index.html" class="text-decoration-none">
            <h1 class="text-center fs-0 pt-3">Christina Cruz</h1>
          </a>
        </div>
      </section>
      <main class="container px-4 pb-4 mb-5 ld ld-float-ltr-in">
        <section class="education my-5" id="education">
          <h2 class="fw-bold text-center">Education</h2>
          <!-- <hr /> -->
          <p class="text-center py-3 pt-2 py-lg-2">
            Since 2021, I have shifted gears from working as an artist and
            illustrator to studying to be a web developer! I've worked on
            several personal projects as well as working with teams.
          </p>
          <div
            class="education-cards d-flex flex-column flex-lg-row gap-4 mx-auto"
          >
            <!-- EDUCATION card -->
            <div
              class="text-center card p-4 d-flex flex-column justify-content-center"
            >
              <h4>California College of the Arts</h4>
              <hr />
              <p class="fst-italic mb-1">
                BFA in Animation (focusing in Visual Development)
              </p>
              <p class="m-0 text-black-50">Fall 2014 - Fall 2018</p>
            </div>
            <!-- EDUCATION card -->
            <div
              class="text-center card p-4 d-flex flex-column justify-content-center"
            >
              <h4>Coding Dojo</h4>
              <hr />
              <p class="fst-italic mb-1">Software Development</p>
              <p class="m-0 text-black-50">Nov 2022 - May 2023</p>
            </div>
            <!-- EDUCATION card -->
            <div
              class="text-center card p-4 d-flex flex-column justify-content-center"
            >
              <h4>SheCodes</h4>
              <hr />
              <p class="fst-italic mb-1">Basics, Plus, and React programs</p>
              <p class="m-0 text-black-50">Feb 2022 - Sep 2022</p>
            </div>
          </div>
        </section>
      </main>
      <!-- FOOTER -->
      <footer class="footer mt-auto py-4">
        <div
          class="container d-flex justify-content-between flex-column flex-md-row gap-2 text-md-none"
        >
          <!-- ICON LINKS -->
          <div
            class="icon-links text-center d-flex justify-content-center mx-0 gap-3 justify-content-lg-start"
          >
            <a href="#" title="Github" class="text-decoration-none w-auto">
              <i class="fa-brands fa-github fs-3"></i>
            </a>
            <a href="#" title="LinkedIn" class="text-decoration-none w-auto">
              <i class="fa-brands fa-linkedin fs-3"></i>
            </a>
            <a href="#" title="Email" class="text-decoration-none w-auto">
              <i class="fa-regular fa-envelope fs-3"></i>
            </a>
          </div>
          <div class="icon-credit text-center text-md-start text-lg-end">
            <div class="d-flex gap-0 justify-content-center">
              <p class="p-0 m-0">© 2023 Christina Ashley Cruz</p>
            </div>
            <div>
              Icons made by
              <a
                href="https://www.flaticon.com/authors/freepik"
                title="Freepik"
              >
                Freepik</a
              >
              from
              <a href="https://www.flaticon.com/" title="Flaticon"
                >www.flaticon.com</a
              >
            </div>
            <div>
              <a
                target="_blank"
                href="https://icons8.com/icon/90519/spring-boot"
                >Spring Boot</a
              >
              and
              <a target="_blank" href="https://icons8.com/icon/3764/sql">SQL</a>
              icon by
              <a target="_blank" href="https://icons8.com">Icons8</a> icon by
              <a target="_blank" href="https://icons8.com">Icons8</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
